In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [23]:
df= pd.read_csv('kaggle_data/director_related_data.csv', index_col='id').drop('Unnamed: 0' , axis=1)

In [24]:
df

,title,directors,dir_rev_perc,dir_perc,revenue_percentage,popularity,budget,revenue,history,comedy,...,fantasy,drama,western,horror,adventure,family,thriller,music,foreign,war
id,,,,,,,,,,,,,,,,,,,,,
5,Four Rooms,"['allison anders', 'alexandre rockwell', 'robe...",1.075000,0.000231,1.075000,9.026586,4000000.0,4300000.0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,Dancer in the Dark,['lars von trier'],1.311045,0.001386,3.127491,10.684806,12800000.0,40031879.0,0,0,...,0,1,0,0,0,0,0,1,0,0
18,The Fifth Element,['luc besson'],1.615876,0.002079,2.932446,24.305260,90000000.0,263920180.0,0,0,...,1,0,0,0,1,0,1,0,0,0
19,Metropolis,['fritz lang'],1.229954,0.000462,0.007022,14.487867,92620000.0,650422.0,0,0,...,0,1,0,0,0,0,0,0,0,0
22,Pirates of the Caribbean: The Curse of the Bla...,['gore verbinski'],2.144467,0.001848,4.678652,47.326665,140000000.0,655011224.0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422603,Aanandam,['ganesh raj'],5.111111,0.000231,5.111111,0.354748,450000.0,2300000.0,0,1,...,0,0,0,0,1,0,0,0,0,0
425942,Black Snow,['mart√≠n hodara'],0.360000,0.000231,0.360000,10.067238,4000000.0,1440000.0,0,0,...,0,1,0,0,0,0,1,0,0,0
433356,The Ottoman Lieutenant,['joseph ruben'],1.502762,0.000924,0.006024,13.256679,40000000.0,240978.0,0,0,...,0,1,0,0,0,0,0,0,0,1
440642,The Spacewalker,['dmitriy kiselev'],1.394896,0.000231,1.394896,10.181000,7075038.0,9868942.0,1,0,...,0,1,0,0,1,0,0,0,0,0
443319,Phoenix Forgotten,['justin barber'],1.285714,0.000231,1.285714,12.560942,2800000.0,3600000.0,0,0,...,0,0,0,1,0,0,0,0,0,0

## adding the average popularity for each director based on his films

In [25]:
avg_pop_dict= dict( df.groupby('directors')['popularity'].mean())

In [26]:
df['avg_dir_pop'] = df['directors'].map( avg_pop_dict )

In [27]:
df

,title,directors,dir_rev_perc,dir_perc,revenue_percentage,popularity,budget,revenue,history,comedy,...,drama,western,horror,adventure,family,thriller,music,foreign,war,avg_dir_pop
id,,,,,,,,,,,,,,,,,,,,,
5,Four Rooms,"['allison anders', 'alexandre rockwell', 'robe...",1.075000,0.000231,1.075000,9.026586,4000000.0,4300000.0,0,1,...,0,0,0,0,0,0,0,0,0,9.026586
16,Dancer in the Dark,['lars von trier'],1.311045,0.001386,3.127491,10.684806,12800000.0,40031879.0,0,0,...,1,0,0,0,0,0,1,0,0,8.355166
18,The Fifth Element,['luc besson'],1.615876,0.002079,2.932446,24.305260,90000000.0,263920180.0,0,0,...,0,0,0,1,0,1,0,0,0,15.601252
19,Metropolis,['fritz lang'],1.229954,0.000462,0.007022,14.487867,92620000.0,650422.0,0,0,...,1,0,0,0,0,0,0,0,0,10.424307
22,Pirates of the Caribbean: The Curse of the Bla...,['gore verbinski'],2.144467,0.001848,4.678652,47.326665,140000000.0,655011224.0,0,0,...,0,0,0,1,0,0,0,0,0,17.505778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422603,Aanandam,['ganesh raj'],5.111111,0.000231,5.111111,0.354748,450000.0,2300000.0,0,1,...,0,0,0,1,0,0,0,0,0,0.354748
425942,Black Snow,['mart√≠n hodara'],0.360000,0.000231,0.360000,10.067238,4000000.0,1440000.0,0,0,...,1,0,0,0,0,1,0,0,0,10.067238
433356,The Ottoman Lieutenant,['joseph ruben'],1.502762,0.000924,0.006024,13.256679,40000000.0,240978.0,0,0,...,1,0,0,0,0,0,0,0,1,8.717460
440642,The Spacewalker,['dmitriy kiselev'],1.394896,0.000231,1.394896,10.181000,7075038.0,9868942.0,1,0,...,1,0,0,1,0,0,0,0,0,10.181000
443319,Phoenix Forgotten,['justin barber'],1.285714,0.000231,1.285714,12.560942,2800000.0,3600000.0,0,0,...,0,0,1,0,0,0,0,0,0,12.560942

In [28]:
df.groupby('directors')['budget'].mean()

directors
["dan o'bannon"]                        4.000000e+06
["dean o'flaherty"]                     1.500000e+06
["dinesh d'souza", 'bruce schooley']    5.000000e+06
["gavin o'connor"]                      2.538533e+07
["matthew o'callaghan"]                 5.000000e+07
                                            ...
['zhang yimou', 'yasuo furuhata']       7.500000e+06
['zhang yimou']                         8.196667e+07
['zoya akhtar']                         1.300000e+07
['√°lex de la iglesia']                  7.000000e+06
['√©mile gaudreault']                    4.361898e+06
Name: budget, Length: 2178, dtype: float64

we cannot use the budget as an indicator as it has dollar values, which change over decades

In [29]:
df.to_csv('kaggle_data/director_related_data_v2.cv')