In [26]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('kaggle_data/movies_data_v1.csv')

In [3]:
df

,id,adult,budget,genres,imdb_id,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count,revenue_percentage,directors,year
0,5,False,4000000.0,"['crime', 'comedy']",tt0113101,en,It's Ted the Bellhop's first night on the job....,9.026586,"['miramax films', 'a band apart']",['united states of america'],4300000.0,98.0,['english'],Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,539.0,1.075000,"['allison anders', 'alexandre rockwell', 'robe...",1995
1,16,False,12800000.0,"['drama', 'crime', 'music']",tt0168629,en,"Selma, a Czech immigrant on the verge of blind...",10.684806,"['fine line features', 'zentropa entertainment...","['argentina', 'denmark', 'finland', 'france', ...",40031879.0,140.0,['english'],You don't need eyes to see.,Dancer in the Dark,7.7,392.0,3.127491,['lars von trier'],2000
2,18,False,90000000.0,"['adventure', 'fantasy', 'action', 'thriller',...",tt0119116,en,"In 2257, a taxi driver is unintentionally give...",24.305260,"['columbia pictures', 'gaumont']",['france'],263920180.0,126.0,"['english', 'svenska', 'deutsch']",There is no future without it.,The Fifth Element,7.3,3962.0,2.932446,['luc besson'],1997
3,19,False,92620000.0,"['drama', 'science fiction']",tt0017136,de,In a futuristic city sharply divided between t...,14.487867,"['paramount pictures', 'universum film (ufa)']",['germany'],650422.0,153.0,['no language'],There can be no understanding between the hand...,Metropolis,8.0,666.0,0.007022,['fritz lang'],1927
4,22,False,140000000.0,"['adventure', 'fantasy', 'action']",tt0325980,en,"Jack Sparrow, a freewheeling 17th-century pira...",47.326665,"['walt disney pictures', 'jerry bruckheimer fi...",['united states of america'],655011224.0,143.0,['english'],Prepare to be blown out of the water.,Pirates of the Caribbean: The Curse of the Bla...,7.5,7191.0,4.678652,['gore verbinski'],2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,422603,False,450000.0,"['adventure', 'comedy', 'romance']",tt5998104,ml,Aanandam is a 2016 Indian Malayalam campus mus...,0.354748,"[""cast n' crew"", 'habit of life']",['india'],2300000.0,134.0,"['english', '']",NaN,Aanandam,6.4,7.0,5.111111,['ganesh raj'],2016
4325,425942,False,4000000.0,"['mystery', 'drama', 'crime', 'thriller']",tt5614612,es,Accused of killing his brother during adolesce...,10.067238,"['telefe', 'a contracorriente films', 'pampa f...","['spain', 'argentina']",1440000.0,90.0,['español'],Would you be able to keep a secret?,Black Snow,6.0,39.0,0.360000,['martín hodara'],2017
4326,433356,False,40000000.0,"['romance', 'drama', 'war']",tt4943322,en,"Lillie, a determined American woman, ventures ...",13.256679,['eastern sunrise films'],"['turkey', 'united states of america']",240978.0,111.0,['english'],The Ottoman Lieutenant is a love story between...,The Ottoman Lieutenant,6.5,38.0,0.006024,['joseph ruben'],2017
4327,440642,False,7075038.0,"['adventure', 'drama', 'history']",tt6673840,ru,"March 1965. In the heat of the Cold War, the U...",10.181000,['bazelevs production'],['russia'],9868942.0,140.0,['pусский'],"So far from home, so close to disaster",The Spacewalker,7.4,20.0,1.394896,['dmitriy kiselev'],2017
4328,443319,False,2800000.0,"['horror', 'mystery', 'science fiction']",tt6574272,en,20 years after three teenagers disappeared in ...,12.560942,"['scott free productions', 'cinelou films']",['united states of america'],3600000.0,80.0,['english'],Based on Shocking Untold True Events,Phoenix Forgotten,5.7,52.0,1.285714,['justin barber'],2017

In [4]:
df['directors'].unique()

array(["['allison anders', 'alexandre rockwell', 'robert rodriguez', 'quentin tarantino']",
       "['lars von trier']", "['luc besson']", ..., "['martín hodara']",
       "['dmitriy kiselev']", "['justin barber']"], dtype=object)

In [15]:
dir_perc= dict( df['directors'].value_counts(normalize=True) )

In [16]:
df['dir_perc'] = df['directors'].map(dir_perc)

In [17]:
df

,id,adult,budget,genres,imdb_id,original_language,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,tagline,title,vote_average,vote_count,revenue_percentage,directors,year,dir_perc
0,5,False,4000000.0,"['crime', 'comedy']",tt0113101,en,It's Ted the Bellhop's first night on the job....,9.026586,"['miramax films', 'a band apart']",['united states of america'],...,98.0,['english'],Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,539.0,1.075000,"['allison anders', 'alexandre rockwell', 'robe...",1995,0.000231
1,16,False,12800000.0,"['drama', 'crime', 'music']",tt0168629,en,"Selma, a Czech immigrant on the verge of blind...",10.684806,"['fine line features', 'zentropa entertainment...","['argentina', 'denmark', 'finland', 'france', ...",...,140.0,['english'],You don't need eyes to see.,Dancer in the Dark,7.7,392.0,3.127491,['lars von trier'],2000,0.001386
2,18,False,90000000.0,"['adventure', 'fantasy', 'action', 'thriller',...",tt0119116,en,"In 2257, a taxi driver is unintentionally give...",24.305260,"['columbia pictures', 'gaumont']",['france'],...,126.0,"['english', 'svenska', 'deutsch']",There is no future without it.,The Fifth Element,7.3,3962.0,2.932446,['luc besson'],1997,0.002079
3,19,False,92620000.0,"['drama', 'science fiction']",tt0017136,de,In a futuristic city sharply divided between t...,14.487867,"['paramount pictures', 'universum film (ufa)']",['germany'],...,153.0,['no language'],There can be no understanding between the hand...,Metropolis,8.0,666.0,0.007022,['fritz lang'],1927,0.000462
4,22,False,140000000.0,"['adventure', 'fantasy', 'action']",tt0325980,en,"Jack Sparrow, a freewheeling 17th-century pira...",47.326665,"['walt disney pictures', 'jerry bruckheimer fi...",['united states of america'],...,143.0,['english'],Prepare to be blown out of the water.,Pirates of the Caribbean: The Curse of the Bla...,7.5,7191.0,4.678652,['gore verbinski'],2003,0.001848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,422603,False,450000.0,"['adventure', 'comedy', 'romance']",tt5998104,ml,Aanandam is a 2016 Indian Malayalam campus mus...,0.354748,"[""cast n' crew"", 'habit of life']",['india'],...,134.0,"['english', '']",NaN,Aanandam,6.4,7.0,5.111111,['ganesh raj'],2016,0.000231
4325,425942,False,4000000.0,"['mystery', 'drama', 'crime', 'thriller']",tt5614612,es,Accused of killing his brother during adolesce...,10.067238,"['telefe', 'a contracorriente films', 'pampa f...","['spain', 'argentina']",...,90.0,['español'],Would you be able to keep a secret?,Black Snow,6.0,39.0,0.360000,['martín hodara'],2017,0.000231
4326,433356,False,40000000.0,"['romance', 'drama', 'war']",tt4943322,en,"Lillie, a determined American woman, ventures ...",13.256679,['eastern sunrise films'],"['turkey', 'united states of america']",...,111.0,['english'],The Ottoman Lieutenant is a love story between...,The Ottoman Lieutenant,6.5,38.0,0.006024,['joseph ruben'],2017,0.000924
4327,440642,False,7075038.0,"['adventure', 'drama', 'history']",tt6673840,ru,"March 1965. In the heat of the Cold War, the U...",10.181000,['bazelevs production'],['russia'],...,140.0,['pусский'],"So far from home, so close to disaster",The Spacewalker,7.4,20.0,1.394896,['dmitriy kiselev'],2017,0.000231
4328,443319,False,2800000.0,"['horror', 'mystery', 'science fiction']",tt6574272,en,20 years after three teenagers disappeared in ...,12.560942,"['scott free productions', 'cinelou films']",['united states of america'],...,80.0,['english'],Based on Shocking Untold True Events,Phoenix Forgotten,5.7,52.0,1.285714,['justin barber'],2017,0.000231

In [18]:
df[['directors','revenue_percentage']]

                                              directors  revenue_percentage
0     ['allison anders', 'alexandre rockwell', 'robe...            1.075000
1                                    ['lars von trier']            3.127491
2                                        ['luc besson']            2.932446
3                                        ['fritz lang']            0.007022
4                                    ['gore verbinski']            4.678652
...                                                 ...                 ...
4324                                     ['ganesh raj']            5.111111
4325                                  ['martín hodara']            0.360000
4326                                   ['joseph ruben']            0.006024
4327                                ['dmitriy kiselev']            1.394896
4328                                  ['justin barber']            1.285714

[4329 rows x 2 columns]

In [22]:
dir_rev_perc= dict( df.groupby('directors')['revenue_percentage'].mean() )

In [23]:
df['dir_rev_perc']= df['directors'].map(dir_rev_perc)

In [24]:
df

,id,adult,budget,genres,imdb_id,original_language,overview,popularity,production_companies,production_countries,...,spoken_languages,tagline,title,vote_average,vote_count,revenue_percentage,directors,year,dir_perc,dir_rev_perc
0,5,False,4000000.0,"['crime', 'comedy']",tt0113101,en,It's Ted the Bellhop's first night on the job....,9.026586,"['miramax films', 'a band apart']",['united states of america'],...,['english'],Twelve outrageous guests. Four scandalous requ...,Four Rooms,6.5,539.0,1.075000,"['allison anders', 'alexandre rockwell', 'robe...",1995,0.000231,1.075000
1,16,False,12800000.0,"['drama', 'crime', 'music']",tt0168629,en,"Selma, a Czech immigrant on the verge of blind...",10.684806,"['fine line features', 'zentropa entertainment...","['argentina', 'denmark', 'finland', 'france', ...",...,['english'],You don't need eyes to see.,Dancer in the Dark,7.7,392.0,3.127491,['lars von trier'],2000,0.001386,1.311045
2,18,False,90000000.0,"['adventure', 'fantasy', 'action', 'thriller',...",tt0119116,en,"In 2257, a taxi driver is unintentionally give...",24.305260,"['columbia pictures', 'gaumont']",['france'],...,"['english', 'svenska', 'deutsch']",There is no future without it.,The Fifth Element,7.3,3962.0,2.932446,['luc besson'],1997,0.002079,1.615876
3,19,False,92620000.0,"['drama', 'science fiction']",tt0017136,de,In a futuristic city sharply divided between t...,14.487867,"['paramount pictures', 'universum film (ufa)']",['germany'],...,['no language'],There can be no understanding between the hand...,Metropolis,8.0,666.0,0.007022,['fritz lang'],1927,0.000462,1.229954
4,22,False,140000000.0,"['adventure', 'fantasy', 'action']",tt0325980,en,"Jack Sparrow, a freewheeling 17th-century pira...",47.326665,"['walt disney pictures', 'jerry bruckheimer fi...",['united states of america'],...,['english'],Prepare to be blown out of the water.,Pirates of the Caribbean: The Curse of the Bla...,7.5,7191.0,4.678652,['gore verbinski'],2003,0.001848,2.144467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,422603,False,450000.0,"['adventure', 'comedy', 'romance']",tt5998104,ml,Aanandam is a 2016 Indian Malayalam campus mus...,0.354748,"[""cast n' crew"", 'habit of life']",['india'],...,"['english', '']",NaN,Aanandam,6.4,7.0,5.111111,['ganesh raj'],2016,0.000231,5.111111
4325,425942,False,4000000.0,"['mystery', 'drama', 'crime', 'thriller']",tt5614612,es,Accused of killing his brother during adolesce...,10.067238,"['telefe', 'a contracorriente films', 'pampa f...","['spain', 'argentina']",...,['español'],Would you be able to keep a secret?,Black Snow,6.0,39.0,0.360000,['martín hodara'],2017,0.000231,0.360000
4326,433356,False,40000000.0,"['romance', 'drama', 'war']",tt4943322,en,"Lillie, a determined American woman, ventures ...",13.256679,['eastern sunrise films'],"['turkey', 'united states of america']",...,['english'],The Ottoman Lieutenant is a love story between...,The Ottoman Lieutenant,6.5,38.0,0.006024,['joseph ruben'],2017,0.000924,1.502762
4327,440642,False,7075038.0,"['adventure', 'drama', 'history']",tt6673840,ru,"March 1965. In the heat of the Cold War, the U...",10.181000,['bazelevs production'],['russia'],...,['pусский'],"So far from home, so close to disaster",The Spacewalker,7.4,20.0,1.394896,['dmitriy kiselev'],2017,0.000231,1.394896
4328,443319,False,2800000.0,"['horror', 'mystery', 'science fiction']",tt6574272,en,20 years after three teenagers disappeared in ...,12.560942,"['scott free productions', 'cinelou films']",['united states of america'],...,['english'],Based on Shocking Untold True Events,Phoenix Forgotten,5.7,52.0,1.285714,['justin barber'],2017,0.000231,1.285714

In [57]:
df['genres']

0                                     ['crime', 'comedy']
1                             ['drama', 'crime', 'music']
2       ['adventure', 'fantasy', 'action', 'thriller',...
3                            ['drama', 'science fiction']
4                      ['adventure', 'fantasy', 'action']
                              ...
4324                   ['adventure', 'comedy', 'romance']
4325            ['mystery', 'drama', 'crime', 'thriller']
4326                          ['romance', 'drama', 'war']
4327                    ['adventure', 'drama', 'history']
4328             ['horror', 'mystery', 'science fiction']
Name: genres, Length: 4329, dtype: object

In [59]:
df.drop([3682,3990,3316,3736 ,3798,3418,4053],
        axis=0, inplace=True)

In [60]:
df['genres']

0                                     ['crime', 'comedy']
1                             ['drama', 'crime', 'music']
2       ['adventure', 'fantasy', 'action', 'thriller',...
3                            ['drama', 'science fiction']
4                      ['adventure', 'fantasy', 'action']
                              ...
4324                   ['adventure', 'comedy', 'romance']
4325            ['mystery', 'drama', 'crime', 'thriller']
4326                          ['romance', 'drama', 'war']
4327                    ['adventure', 'drama', 'history']
4328             ['horror', 'mystery', 'science fiction']
Name: genres, Length: 4322, dtype: object

In [71]:
from ast import literal_eval
df['genres']= df['genres'].map(literal_eval)

## there are duplicates in the id, will drop them

In [120]:
df.drop_duplicates(subset=['id'], inplace=True)

In [127]:
df.dropna(subset=['runtime'], inplace=True)

In [128]:
df.isna().sum()

id                        0
adult                     0
budget                    0
genres                    0
imdb_id                   0
original_language         0
overview                  2
popularity                0
production_companies      0
production_countries      0
revenue                   0
runtime                   0
spoken_languages          0
tagline                 610
title                     0
vote_average              4
vote_count                4
revenue_percentage        0
directors                 0
year                      0
dir_perc                  0
dir_rev_perc              0
dtype: int64

In [137]:
df.to_csv('kaggle_data/movies_data_v2_no_NA_values.csv')

## let's create genres df

In [138]:
unique_genres= []
for g in df['genres']:
    unique_genres.extend(g)

In [139]:
unique_genres= set(unique_genres)

In [140]:
unique_genres

{'action',
 'adventure',
 'animation',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'family',
 'fantasy',
 'foreign',
 'history',
 'horror',
 'music',
 'mystery',
 'romance',
 'science fiction',
 'thriller',
 'war',
 'western'}

In [141]:
len(unique_genres)

19

In [142]:
g_df= pd.DataFrame( np.zeros( (len(df) , 19) ),
              columns=unique_genres,
                    index=df.id)

In [143]:
g_df

,history,comedy,animation,action,romance,documentary,mystery,crime,science fiction,fantasy,drama,western,horror,adventure,family,thriller,music,foreign,war
id,,,,,,,,,,,,,,,,,,,
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
425942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
433356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
440642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
443319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [144]:
for idx, g_list in enumerate( df['genres'] ):
    for g in g_list:
        g_df.iloc[idx][g]= 1

In [145]:
g_df= g_df.astype(int)

In [146]:
g_df

,history,comedy,animation,action,romance,documentary,mystery,crime,science fiction,fantasy,drama,western,horror,adventure,family,thriller,music,foreign,war
id,,,,,,,,,,,,,,,,,,,
5,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
18,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0
19,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
22,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422603,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
425942,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0
433356,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1
440642,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
443319,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0

In [147]:
df.join(g_df, on='id', how='inner')

,id,adult,budget,genres,imdb_id,original_language,overview,popularity,production_companies,production_countries,...,fantasy,drama,western,horror,adventure,family,thriller,music,foreign,war
0,5,False,4000000.0,"[crime, comedy]",tt0113101,en,It's Ted the Bellhop's first night on the job....,9.026586,"['miramax films', 'a band apart']",['united states of america'],...,0,0,0,0,0,0,0,0,0,0
1,16,False,12800000.0,"[drama, crime, music]",tt0168629,en,"Selma, a Czech immigrant on the verge of blind...",10.684806,"['fine line features', 'zentropa entertainment...","['argentina', 'denmark', 'finland', 'france', ...",...,0,1,0,0,0,0,0,1,0,0
2,18,False,90000000.0,"[adventure, fantasy, action, thriller, science...",tt0119116,en,"In 2257, a taxi driver is unintentionally give...",24.305260,"['columbia pictures', 'gaumont']",['france'],...,1,0,0,0,1,0,1,0,0,0
3,19,False,92620000.0,"[drama, science fiction]",tt0017136,de,In a futuristic city sharply divided between t...,14.487867,"['paramount pictures', 'universum film (ufa)']",['germany'],...,0,1,0,0,0,0,0,0,0,0
4,22,False,140000000.0,"[adventure, fantasy, action]",tt0325980,en,"Jack Sparrow, a freewheeling 17th-century pira...",47.326665,"['walt disney pictures', 'jerry bruckheimer fi...",['united states of america'],...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,422603,False,450000.0,"[adventure, comedy, romance]",tt5998104,ml,Aanandam is a 2016 Indian Malayalam campus mus...,0.354748,"[""cast n' crew"", 'habit of life']",['india'],...,0,0,0,0,1,0,0,0,0,0
4325,425942,False,4000000.0,"[mystery, drama, crime, thriller]",tt5614612,es,Accused of killing his brother during adolesce...,10.067238,"['telefe', 'a contracorriente films', 'pampa f...","['spain', 'argentina']",...,0,1,0,0,0,0,1,0,0,0
4326,433356,False,40000000.0,"[romance, drama, war]",tt4943322,en,"Lillie, a determined American woman, ventures ...",13.256679,['eastern sunrise films'],"['turkey', 'united states of america']",...,0,1,0,0,0,0,0,0,0,1
4327,440642,False,7075038.0,"[adventure, drama, history]",tt6673840,ru,"March 1965. In the heat of the Cold War, the U...",10.181000,['bazelevs production'],['russia'],...,0,1,0,0,1,0,0,0,0,0
4328,443319,False,2800000.0,"[horror, mystery, science fiction]",tt6574272,en,20 years after three teenagers disappeared in ...,12.560942,"['scott free productions', 'cinelou films']",['united states of america'],...,0,0,0,1,0,0,0,0,0,0

In [148]:
g_df.to_csv('kaggle_data/genres_dataframe.csv')

In [149]:
df['production_companies'].unique()

array(["['miramax films', 'a band apart']",
       "['fine line features', 'zentropa entertainments', 'danmarks radio (dr)', 'svt drama', 'arte', 'memfis film', 'france 3 cinéma', 'angel films', 'tv 1000', 'canal+', 'constantin film produktion', 'yleisradio (yle)', 'arte france cinéma', 'westdeutscher rundfunk (wdr)', 'blind spot pictures oy', 'vrijzinnig protestantse radio omroep (vpro)', 'film4', 'liberator productions', 'icelandic film', 'film i väst', 'pain unlimited gmbh filmproduktion', 'trust film svenska', 'cinematograph a/s', 'what else? b.v', 'filmek a/s', 'lantia cinema & audiovisivi']",
       "['columbia pictures', 'gaumont']", ...,
       "['telefe', 'a contracorriente films', 'pampa films', 'directv']",
       "['eastern sunrise films']",
       "['scott free productions', 'cinelou films']"], dtype=object)

unique production companies not that helpful, 3k companies will be so much sparsity

In [163]:
dir_related_df= df[['id',
                    'title',
                    'directors',
                    'dir_rev_perc',
                    'dir_perc',
                    'revenue_percentage',
                    'popularity',
                    'budget',
                    'revenue',
                    'adult']]

In [164]:
dir_related_df= dir_related_df.join(g_df,on='id', how='inner' )

In [165]:
dir_related_df

,id,title,directors,dir_rev_perc,dir_perc,revenue_percentage,popularity,budget,revenue,adult,...,fantasy,drama,western,horror,adventure,family,thriller,music,foreign,war
0,5,Four Rooms,"['allison anders', 'alexandre rockwell', 'robe...",1.075000,0.000231,1.075000,9.026586,4000000.0,4300000.0,False,...,0,0,0,0,0,0,0,0,0,0
1,16,Dancer in the Dark,['lars von trier'],1.311045,0.001386,3.127491,10.684806,12800000.0,40031879.0,False,...,0,1,0,0,0,0,0,1,0,0
2,18,The Fifth Element,['luc besson'],1.615876,0.002079,2.932446,24.305260,90000000.0,263920180.0,False,...,1,0,0,0,1,0,1,0,0,0
3,19,Metropolis,['fritz lang'],1.229954,0.000462,0.007022,14.487867,92620000.0,650422.0,False,...,0,1,0,0,0,0,0,0,0,0
4,22,Pirates of the Caribbean: The Curse of the Bla...,['gore verbinski'],2.144467,0.001848,4.678652,47.326665,140000000.0,655011224.0,False,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,422603,Aanandam,['ganesh raj'],5.111111,0.000231,5.111111,0.354748,450000.0,2300000.0,False,...,0,0,0,0,1,0,0,0,0,0
4325,425942,Black Snow,['martín hodara'],0.360000,0.000231,0.360000,10.067238,4000000.0,1440000.0,False,...,0,1,0,0,0,0,1,0,0,0
4326,433356,The Ottoman Lieutenant,['joseph ruben'],1.502762,0.000924,0.006024,13.256679,40000000.0,240978.0,False,...,0,1,0,0,0,0,0,0,0,1
4327,440642,The Spacewalker,['dmitriy kiselev'],1.394896,0.000231,1.394896,10.181000,7075038.0,9868942.0,False,...,0,1,0,0,1,0,0,0,0,0
4328,443319,Phoenix Forgotten,['justin barber'],1.285714,0.000231,1.285714,12.560942,2800000.0,3600000.0,False,...,0,0,0,1,0,0,0,0,0,0

In [166]:
dir_related_df['adult'].value_counts()

False    4296
Name: adult, dtype: int64

In [167]:
dir_related_df.drop(columns=['adult'],
                    inplace=True)

In [168]:
dir_related_df

,id,title,directors,dir_rev_perc,dir_perc,revenue_percentage,popularity,budget,revenue,history,...,fantasy,drama,western,horror,adventure,family,thriller,music,foreign,war
0,5,Four Rooms,"['allison anders', 'alexandre rockwell', 'robe...",1.075000,0.000231,1.075000,9.026586,4000000.0,4300000.0,0,...,0,0,0,0,0,0,0,0,0,0
1,16,Dancer in the Dark,['lars von trier'],1.311045,0.001386,3.127491,10.684806,12800000.0,40031879.0,0,...,0,1,0,0,0,0,0,1,0,0
2,18,The Fifth Element,['luc besson'],1.615876,0.002079,2.932446,24.305260,90000000.0,263920180.0,0,...,1,0,0,0,1,0,1,0,0,0
3,19,Metropolis,['fritz lang'],1.229954,0.000462,0.007022,14.487867,92620000.0,650422.0,0,...,0,1,0,0,0,0,0,0,0,0
4,22,Pirates of the Caribbean: The Curse of the Bla...,['gore verbinski'],2.144467,0.001848,4.678652,47.326665,140000000.0,655011224.0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4324,422603,Aanandam,['ganesh raj'],5.111111,0.000231,5.111111,0.354748,450000.0,2300000.0,0,...,0,0,0,0,1,0,0,0,0,0
4325,425942,Black Snow,['martín hodara'],0.360000,0.000231,0.360000,10.067238,4000000.0,1440000.0,0,...,0,1,0,0,0,0,1,0,0,0
4326,433356,The Ottoman Lieutenant,['joseph ruben'],1.502762,0.000924,0.006024,13.256679,40000000.0,240978.0,0,...,0,1,0,0,0,0,0,0,0,1
4327,440642,The Spacewalker,['dmitriy kiselev'],1.394896,0.000231,1.394896,10.181000,7075038.0,9868942.0,1,...,0,1,0,0,1,0,0,0,0,0
4328,443319,Phoenix Forgotten,['justin barber'],1.285714,0.000231,1.285714,12.560942,2800000.0,3600000.0,0,...,0,0,0,1,0,0,0,0,0,0

In [169]:
dir_related_df.to_csv('kaggle_data/director_related_data.csv')